
#navigation {
    width: 80%;
    height: 10%;
    margin: auto;
    padding: 0.6em;
    background-color: black;
}

.botoesMenu {
    color: white;
    padding: 0.6em;
}

.modalBackground {
    background-color: black;
    filter: opacity(90) !important;
    opacity: 0.6 !important;
    z-index: 20;
}

.botaoStyle {
    border-radius: 5px;
    background-color: #006FFF;
    color: white;
    height: 35px;
    font-family: 'Segoe UI Emoji';
    Font-Size: medium;
    font-weight: 500;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
}

.divTabela {
    padding: 10px;
    margin: auto;
    display: flex;
    justify-items: center;
    width: 100%;
    max-width: 100%;
    height: 50%;
}

.overlayTeste {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
}

.TextBoxLogin {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}


.btnEntrar {
    border: solid;
    border-width: 2px;
    border-color: gray;
}

    .btnEntrar:hover {
        border-color: black;
    }